.postCard{
    width: 100%;
    padding: 30px;
    background: var(--card-bg);
    backdrop-filter: blur(2px);
    border: 1px solid #e2e2e2;
    border-radius: 20px;
    display: block;
    margin-bottom: 20px;
    transition: .3s ease-in-out;
}

.postCard:hover{
    transform: scale(0.98);
    background: #2c2c2c;
    color: var(--bg);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.06);
}

.postCard:hover h2{
    color: #FFA81D;
}

.postCard:hover h2 span{
    color: #FFA81D;
}

.postCard:hover .date{
    color: #FFA81D;
}

.postCard h2,
.postCard h2 span{
    font-size: 30px;
    font-family: "Cal Sans", sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--text);
}

.postCard h2 span{
    color: var(--text);
}

.postCard .date{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    color: var(--text);
}
