.hero{
    width: 100%;
    padding: 40px;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: var(--text);
}

.hero h1{
    font-size: 50px;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    text-shadow: 1px 1px 0px #FFA81D;
    margin-bottom: 10px;
    color: var(--text);
}


@media (max-width: 768px) {
  
    .hero{
        padding: 25px;
    }

    .hero h1{
        margin-bottom: 20px;
        font-size: 38px;
    }

}